.navBar {
    z-index: 999;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    background-color: #ffd7ab;
    border-radius: 15px;
    margin-top: 12px;
  }
  
  .buttons,
  .search,
  .orders,
  .filter,
  .activity {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre elementos */
    padding: 0.5rem; /* Añade espacio alrededor de cada grupo de elementos */
  }
  
  .orders select,
  .filter select {
    font-family: monospace;
    text-align: center;
    width: 150px;
    padding: 3px;
    border-radius: 30px;
    appearance: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: black;
    color: white;
}
  
  .filter select {
    width: 170px;
  }
  
  .navBarbutton {
    font-family: monospace;
    font-size: 1rem;
    background-color: #ff631b;
    border-radius: 30px;
    border: 0;
    padding: 2.5px 12.5px 2.5px 12.5px;
    box-shadow: 2px -2px white;
  }
  
  .navBarbutton:hover{
    background-color: white;
    color: #ff631b;
    box-shadow: 2px -2px #ff631b;
  }